<?xml version="1.0" encoding="UTF-8"?>
<config>
    <var name="executor" default="URI_executor"/>
    <var name="driver" default=""/>
    <var name="license" default="License GNU/LGPL - Serge Koriakin - Jule 2010-2012, sergekoriakin@gmail.com"/>
    <var name="version">Backup-script. All about sql-dump for MySql databases</var>

    <import name="../preprocessor/git.hat.xml"/>

    <files>
        <file>src/formHelper.php</file>
        <file>src/$executor.php</file>
        <file>src/BackupException.php</file>

        <file dstdir="$dst" name="backup.php" dir="src">backup$driver.php</file>
	</files>


</config>