<?xml version="1.0" encoding="UTF-8"?>
<config>
    <var name="executor" default="URI_executor"/>

    <files>
        <echo>
            <![CDATA[<%  $buildtime=date('ymdHi'); point_start('hat');echo
'----------------------------------------------------------------------------
$Id: '.$version.',
ver: '.$tags.', Last build: '.$last_build.'
GIT: '.$git_url.'$
----------------------------------------------------------------------------
'.$license.'
----------------------------------------------------------------------------'; point_finish() ;%>]]>
        </echo>

        <file>src/$executor.php</file>
        <file>src/BackupException.php</file>

    	<file dstdir="$dst"  dir="src">backup.php</file>
	</files>


</config>